body {
    margin: 0;
}
#menu {
    height: 60px; 
    left: 96%; 
    margin: 0; 
    padding: 0; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 70; 
    text-align: right; 
    top: 30%; 
}

#menu li {
    width: 20px; 
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 150px; 
    color: #FF7F50; 
    display: block; 
    margin: 10px; 
    background-color: #FF7F50; 
}
 
/*Стиль ссылки когда активен соответствующий блок*/
#menu li a, #menu li.active a {
    display: block; 
    padding: 10px 10px; 
    text-decoration: none; 
    color:#ccc; 
}
 
/*Стиль элемента списка когда активен соответствующий блок*/
#menu li.active {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/*	
Первичные стили:
С ними работает слайд шоу
*/

#slides {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

/*
Второстепенные стили:
Внешний вид; можете изменять
*/

.slide {
    font-size: 40px;
    box-sizing: border-box;
}

img {
   width: 100% !important;
    height: 100vh !important;
}

#block-for-slider {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 100px;
}

#viewport {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100%*5);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide2 {
    width: calc(100%/5);
    list-style: none;
    display: inline;
    float: left;
}

#slider3 {
    padding:15px 0;
}
#slider3 .pagination {
    list-style:none outside none;
    padding:15px !important;
}
#slider3 .pagination li {
    cursor:pointer;
    display:inline-block;
    margin-left:0;
    background-color:#888;
    border-radius:10px 10px 10px 10px;
    height:8px;
    text-indent:10000px;
    width:8px;
}
#slider3 .pagination li.current {
    background-color:#000;
}
#transitions {
    overflow:hidden;
}
#transitions ul {
    float:left;
    list-style:none outside none;
    padding:0;
    width:33%;
}
#transitions ul#trans2D {
    text-align:right;
}
#transitions ul li {
    margin:0 10px;
}

#warn {
    font-weight:bold;
    text-align:center;
}


/* Slider 4 */
/*-------------------------
    Simple reset
--------------------------*/


/*-------------------------
    General Styles
--------------------------*/




/*-------------------------------
    Slideshow Customizations
--------------------------------*/


#slideShow{
    margin:0;
    border:0;
    width:100%;
    height:100vh;
    box-shadow:5px 5px 0 rgba(22,22,22,0.3);
}




-----------------------------*/


